# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.Thumbs.db
desktop.ini
.atom/
.build/
.buildlog/
.history
.swiftpm/
.svn/
migrate_working_dir/

# IDEs
# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/
*.lock

# VS Code (keep some configs if needed)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
flutter_*.snapshot
flutter_export_environment.sh
*.g.dart
*.freezed.dart
*.gen.dart
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Android
android/.gradle/
android/build/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/*.keystore
android/*.jks
android/key.properties

# iOS
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/
ios/*.pbxproj
ios/*.xcscheme
ios/*.xcuserstate
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.xccheckout

# Web (if applicable)
web/favicon.png
web/index.html
web/manifest.json

# Sensitive/Local Configs
*.env
*.key
*.pem
*.cer

# Build Outputs
*.apk
*.aab
*.ipa
*.xcarchive
*.dSYM.zip

# Dependency Directories
vendor/
node_modules/

# Logs and Caches
*.log.*
*.cache